*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}
header{
  background-color: #1f2937;
  color: white;
}
#logo{
filter: brightness(0) invert(1);
 
}
.first-header{
  display: flex;
  justify-content: space-between;
  padding: 8px 80px; 
  align-items: center;
}
nav ul{
  list-style: none;
  display: flex;
  gap: 28px;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
.second-header{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin: 30px;
}
.heading{
  width: 30vw;
  padding: 8px;

}
.info{
  margin: 8px 0;
}
#header-pic{
  width: 30vw;
  height: 200px;
  object-fit: cover;
}
p{
  font-size: 24px;
}
h1{
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}
h2{
  font-size: 36px;
   text-align: center;
   margin: 8px;
}
h3{
  font-size: 26px;
}
button{
  background-color: #3882f6;
  color: white;
  font-size: 24px;
  padding: 4px 38px;
  border-radius: 12px;
}

/*header section finished*/

.information{
  padding: 18px; 
}
.services{
 display: flex;
 justify-content: center;
 gap: 28px;
}
.service{
  margin: 18px;
  padding: 18px;
  display: flex;
  flex-direction: column;

}
i{
  font-size: 50px;
  margin: 16px auto;
  vertical-align: center;
}
.quotes{
  padding: 80px;
  text-align: center;
  background-color: #e5e7eb;
}
blockquote{
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}
.author{
  text-align: right;
  margin-top: 4px;
}
.sign-up{
  display: flex;
  padding: 30px;
  background-color: #3882f6;
  color: white;
  justify-content: space-around;
  width: 70vw;
  margin: 90px auto;
  line-height: 1.4;
}
#white{
  border: 2px solid white;
}
footer{
  background-color: #1f2937;
  color: #fff;
  padding: 30px;
  text-align: center;
}